@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EPROJECT.Models.CompanyDetail



@{

    ViewData["Title"] = "Company Details";
    Layout = "~/Views/Shared/insurance_Layout.cshtml";

}

<div class="container mt-5">
    <h2>Company Details</h2>
    <div>
        <h4> @Model.CompanyName</h4>
        <p>Address: @Model.Address</p>
        <p>Contact: @Model.Phone</p>
        <p>Company URL: @Model.CompanyUrl</p>
    </div>

   
    <form asp-action="ApplyForPolicy" method="post">
        <input type="hidden" name="companyId" value="@Model.Companyid" />
        <input type="hidden" name="policyId" value="@ViewData["PolicyID"]" />
        <button type="submit" class="btn btn-success ">Apply for Policy</button>
    </form>

    <a asp-action="review" class="btn btn-primary mt-3">Back to Policies</a>

</div>

