@model EPROJECT.Models.Policy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}


<div>
    <h2 class="mt-5">Policy</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policyname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policyname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policydesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policydesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicalid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicalid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Companyid)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model?.Policyid">Edit</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
