@model IEnumerable<EPROJECT.Models.Policy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Policies</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Add Policy</a>
</p>

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Policyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policydesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicalid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Policyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policydesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicalid)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                    <a class="badge badge-success text-success" asp-action="Edit" asp-route-id="@item.Policyid">Edit</a> |
                    <a class="badge badge-success text-primary" asp-action="Details" asp-route-id="@item.Policyid">Details</a> |
                    <a class="badge badge-success text-danger" asp-action="Delete" asp-route-id="@item.Policyid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>