@model IEnumerable<EPROJECT.Models.CompanyDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

@if (TempData["CDelete"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["CDelete"] </strong>
        
    </div>
}


<h1>Companies</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Add Companies</a>
</p>

<div class="table-responsive">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyUrl)
            </td>
            <td>
                        <a asp-action="Edit" class="badge badge-success text-success" asp-route-id="@item.Companyid">Edit</a> |
                        <a asp-action="Details" class="badge badge-primary text-primary" asp-route-id="@item.Companyid">Details</a> |
                        <a asp-action="Delete" class="badge badge-danger text-danger" asp-route-id="@item.Companyid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>